/* CSS Document */

body{
  background-color: rgb(193, 247, 171);
}

article {
  display: block;
  margin: auto;
  overflow: hidden;
}

p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  background-color: white;
  border-radius: 10px;
}

h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

img{
  border-radius: 20px;
}

.redotext{
  line-height: 6px;
}

.q{
  border-width: 5px;
  border-radius: 5px;
  width: 90%;
  margin: 20px auto 20px;
  min-height: 100px;
  overflow: hidden;
}
.a{
  background-color: rgb(172, 221, 153);
  border-radius: 5px;
  width: 40%;
  margin: 3%;
  padding-bottom: 50px;
  float: left;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  
}
.redo{
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 5px;
  background-color: white;
  width: 200px;
  height: 10px;
  padding-bottom: 40px;
  margin: 20px auto 20px;
  vertical-align: text-top;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.redo:hover{
  background-color: rgb(236, 236, 236);
  border-color: rgb(236, 236, 236);
}

.s1{
  display:block;
}
.s2{
  display:none;
}
.s3{
  display:none;
}
.s4{
  display:none;
}
img{
  width:300px;
  height:186px;
}
.deciduous{
  margin:auto;
}
.coniferous{
  margin:auto;
}
.seperatedNeedles{
  margin: auto;
}
.groupedNeedles{
  margin: auto;
}
.roundLeaves{
  margin: auto;
}
.notRoundLeaves{
  margin: auto;
}
.mapleLeaf{
  margin: auto;
}
.oakLeaf{
  margin: auto;
}
.mapleTree{
  margin: auto;
}
