/* CSS Document */

article {
  display: block;
  margin: auto;
  overflow: hidden;
}
p{
  text-align: center;
}
.q{
  border-style: solid;
  border-width: 5px;
  border-color: green;
  border-radius: 5px;
  width: 90%;
  margin: 20px auto 20px;
  min-height: 100px;
  overflow: hidden;
}
.a{
  border-style: dotted;
  border-width: 5px;
  border-color: yellow;
  border-radius: 5px;
  width: 40%;
  margin: 3%;
  float: left;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.redo{
  border-style: solid;
  border-width: 5px;
  border-color: red;
  border-radius: 5px;
  background-color: white;
  width: 100px;
  text-align: center;
  margin: 20px auto 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.s1{
  display:block;
}
.s2{
  display:none;
}
.s3{
  display:none;
}
.s4{
  display:none;
}
img{
  width:300px;
  height:186px;
}
.deciduous{
  margin:auto;
}
.coniferous{
  margin:auto;
}
.seperatedNeedles{
  margin: auto;
}
.groupedNeedles{
  margin: auto;
}
.roundLeaves{
  margin: auto;
}
.notRoundLeaves{
  margin: auto;
}
.mapleLeaf{
  margin: auto;
}
.oakLeaf{
  margin: auto;
}
.mapleTree{
  margin: auto;
}
